@model IEnumerable<EmailConfirm.BuyerRequest>

@{
    ViewBag.Title = "BuyerReqest";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/Nav.cshtml";
}
    <section id="dashboard">
        <div class="heading-bar container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <h3 class="row">Buyer Request</h3>
                </div>
                <div class="container col-md-7 col-sm-7 col-xs-12">
                    @using (Html.BeginForm("BuyerReqest", "Notes", FormMethod.Get, new { @class = "form1 row" }))
                    {
                        <div class="col-md-10 col-sm-10 col-xs-8 searchinput">
                            <img src="~/img/search-icon.png" class="form-control-feedback">
                            <input type="text" class="form-control" placeholder="Search" name="searching"/>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <button class="btn">SEARCH</button>
                        </div>
                    }
                    </div>
            </div>
        </div>

        <div class="sold-table-list">
            <div class="container">
                <div class="row">
                    <table class="table col-md-12 col-sm-12 col-xs-12">

                        <tr>
                            <th>SR NO.</th>
                            <th>NOTE TITLE</th>
                            <th>CATEGORY</th>
                            <th>BUYER</th>
                            <th>PHONE NO.</th>
                            <th>SELL TYPE</th>
                            <th>PRICE</th>
                            <th>DOWNLOADED DATE/TIME</th>
                            <th></th>
                        </tr>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="8" style="color:red;text-align:center">Data Not Found</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td class="titile-text">@item.Title</td>
                                    <td>@item.Category</td>
                                    <td>@item.BuyerId</td>
                                    <td>@item.PhoneNo</td>
                                    <td>Paid</td>
                                    <td>@item.Price</td>
                                    <td>@item.DownloadDateTime</td>
                                    <td><img src="~/img/eye.png">&nbsp;&nbsp;<img src="~/img/dots.png"></td>
                                </tr>
                            }
                        }
                        </table>
        <div class="popup">
            <ul><li>Download</li></ul>
        </div>
                        </div>

                    </div>
                </div>


        <div class="container page" aria-label="Page navigation example">
            <ul class="pagination col-md-12 col-sm-12 col-xs-12">
                <li><a class="page-link-img" href="#"><img src="img/left-arrow.png"></a></li>
                <li><a class="page-link" href="#">1</a></li>
                <li><a class="page-link" href="#">2</a></li>
                <li><a class="page-link" href="#">3</a></li>
                <li><a class="page-link" href="#">4</a></li>
                <li><a class="page-link" href="#">5</a></li>
                <li><a class="page-link-img" href="#"><img src="img/right-arrow.png"></a></li>
            </ul>
        </div>
            </section>
                       