@model Tuple<List<EmailConfirm.SellNote>,List<EmailConfirm.SellNote>>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/Nav.cshtml";
    WebGrid webGrid = new WebGrid(source: Model.Item1);
    WebGrid webGrid1 = new WebGrid(source: Model.Item2);
}
<br />
<br />

<section id="dashboard1">
    <div class="dashboard-card">
        <div class="heading-bar container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="row">Dashboard</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    @Html.ActionLink("Add Notes", "Index", "Notes", routeValues: null, htmlAttributes: new { id = "noteslink", @class = "btn contactform" })
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <form class="row">
                <button class="card-01 col-md-2 col-sm-6 col-xs-6" style="background-color: #fff;">
                    <img src="~/img/earning-icon.svg">
                    <h3 class="earning">My Earning</h3>
                </button>
                <button class="card-03 col-md-4 col-sm-6 col-xs-6" style="background-color: #fff;" formaction=@Url.Action("SoldNotes","Notes")>
                    <div class="row">
                        <a class="col-md-6 col-sm-6 col-xs-6 sold text-center" href=@Url.Action("SoldNotes","Notes")>
                            <h3>@ViewBag.download</h3>
                            <p>Number of Notes Sold</p>
                        </a>
                        <a class="col-md-6 col-sm-6 col-xs-6 money text-center" href=@Url.Action("SoldNotes","Notes")>
                            <h3>$@Model.Item2.Sum(x =>x.SellingPrice) </h3>
                            <p>Money Earned</p>
                        </a>
                    </div>
                </button>
                <button class="card-02 col-md-1 col-sm-4 col-xs-4 text-center" style="background-color: #fff;" formaction=@Url.Action("DownloadNotes","Notes")>
                    <h3>@ViewBag.download</h3>
                    <p>My Downloads</p>
                </button>
                <button class="card-02 col-md-1 col-sm-4 col-xs-4 text-center" style="background-color: #fff;" formaction=@Url.Action("SoldNotes","Notes")>
                    <h3>@ViewBag.reject</h3>
                    <p>My Rejected Notes</p>
                </button>
                <button class="card-02 col-md-1 col-sm-4 col-xs-4 text-center" style="background-color: #fff;"
                        formaction=@Url.Action("BuyerReqest","Notes")>
                    <h3>@ViewBag.buyer</h3>
                    <p>Buyer Request</p>
                </button>
            </form>
        </div>
    </div>
</section>

<br>
<section id="publish-notes">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-4 col-xs-12">
                <h2 class="row">In Progress Notes</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                @using (Html.BeginForm("ViewNotes", "Notes", FormMethod.Get, new { @class = "form1 row" }))
                {
                    <div class="col-md-9 col-sm-7 col-xs-7 form-group searchinput">
                        <img src="~/img/search-icon.png" class="form-control-feedback">
                        <input type="text" class="form-control" placeholder="Search" name="searching" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-2">
                        <button class="btn">SEARCH</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">
        @if (Model.Item1.Count() == 0)
        {
            <h3>Data Not Found</h3>
        }
        else
        {

            @webGrid.GetHtml(
                         htmlAttributes: new { @id = "WebGrid", @class = "Grid table sold-table-list" },
                         columns: webGrid.Columns(webGrid.Column("CreatedDate", "Added-Date"),
                         webGrid.Column("title", "Note Title"),
                         webGrid.Column("Category", "Note Category"),
                         webGrid.Column("Status", "Status"),
                         webGrid.Column("Action", format:(item)=>
                         {
                             if(item.Status =="Draft")
                             {
                                 return Html.Raw(string.Format("<text><a \"target=\"_blank\" href=\"updateNote?id={0}\"><img height='20' width='20' border='0' src=\"/img/edit.png\" alt=\"Image\"/><a \"target=\"_blank\" href=\"deleteNote?id={0}\"><img height='20' width='20' border='0' src=\"/img/delete.png\" alt=\"Image\"/></text>", @item.id));
                             }
                             else
                             {
                                 return Html.Raw(string.Format("<text><a \"target=\"_blank\" href=\"NoteDetails?id={0}\"><img height='20' width='20' border='0' src=\"/img/eye.png\" alt=\"Image\"/></text>", @item.title));
                             }
                         })

            ))
        }
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-4 col-xs-12">
                <h2 class="row">Publish Notes</h2>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                @using (Html.BeginForm("ViewNotes", "Notes", FormMethod.Get, new { @class = "form1 row" }))
                {
                    <div class="col-md-9 col-sm-7 col-xs-7 form-group searchinput">
                        <img src="~/img/search-icon.png" class="form-control-feedback">
                        <input type="text" class="form-control" placeholder="Search" name="search1" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-2">
                        <button class="btn">SEARCH</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">
        @if (Model.Item2.Count() == 0)
        {
            <h3>Data Not Found</h3>
        }
        else
        {

            @webGrid1.GetHtml(
                         htmlAttributes: new { @id = "WebGrid1", @class = "Grid1 table sold-table-list" },
                         columns: webGrid1.Columns(webGrid1.Column("title", "Note Title"),
                         webGrid1.Column("Category", "Note Category"),
                         webGrid1.Column("NoteType", "Note Type"),
                         webGrid1.Column("SellingPrice", "SellingPrice"),
                         webGrid1.Column("Action", format: (item) => {
                             return Html.Raw(string.Format("<text><a \"target=\"_blank\" href=\"NoteDetails?id={0}\"><img height='20' width='20' border='0' src=\"/img/eye.png\" alt=\"Image\"/></text>", @item.title));
                         }
)
))
        }
    </div>
</section>

