@using EmailConfirm.Models
@model RegDetail
@{
    Layout = "~/Views/Shared/css_js.cshtml";
}
<body>

    <section id="forgot-password">
        <div class="forgot-password container">
            <div class="login-content row">
                <div class="logo text-center col-md-12 col-sm-12 col-xs-12">
                    <img src="~/img/top-logo.png">
                </div>

                <div class="col-md-4 col-sm-4 col-xs-4"></div>
                <div class="login-form col-md-4 col-sm-4 col-xs-4">
                    <div class="heading text-center">
                        <h3>Forgot Password?</h3>
                        <p>Enter Your email to reset your password</p>
                    </div>
                    @using (Html.BeginForm("ForgotPassword", "RegisterUser", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "contactform form-horizontal contactform", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.Label("Email", new { @class = "control-label" })
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", placeholder = "Enter Email Address" })

                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="SUBMIT" class="btn col-md-12" />
                        </div>

                    }

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4"></div>
            </div>
        </div>
    </section>

</body>
@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
                            alert("@TempData["testmsg"]");
    </script>
}