@model IEnumerable<EmailConfirm.Models.CountData>

@{
    ViewBag.Title = "AdminPublishNote";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/AdminNav.cshtml";
    WebGrid webGrid = new WebGrid(source: Model);
}


<section id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="row" style="color:#6255a5">Published Notes</h2>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                @using (Html.BeginForm("AdminPublishNote", "Admin", FormMethod.Get, new { @class = "form1 row" }))
                {
                    <div class="col-md-12">
                        <span>Seller</span>
                    </div>
                    <div class="col-md-7 col-sm-2 col-xs-12">
                        @Html.DropDownList("list", new SelectList(ViewBag.list, "Text", "Text", ViewBag.list), "select", new { onchange = "form.submit();", @class = "form-select" })
                    </div>
                    <div class="col-md-3 col-sm-7 col-xs-7 form-group searchinput">
                        <img src="~/img/search-icon.png" class="form-control-feedback">
                        <input type="search" class="form-control" placeholder="Search" name="searching" />
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-2">
                        <button class="btn">SEARCH</button>
                    </div>

                }
            </div>
        </div>
    </div>
    
        <div class="sold-table-list">
            <div class="container">
                <div class="row">
                    <table class="table col-md-12 col-sm-12 col-xs-12">
                        <tr>
                            <th>SR NO.</th>
                            <th>TITLE</th>
                            <th>CATEGORY</th>
                            <th>ATTACHMENT SIZE</th>
                            <th>PRICE</th>
                            <th>PUBLISHER</th>
                            <th>PUBLISHED DATE</th>
                            <th>NUMBER OF DOWNLOADS</th>
                            <th></th>
                        </tr>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="10" style="color:red;text-align:center">Data Not Found</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.id</td>
                                    <td class="titile-text">@item.title</td>
                                    <td>@item.cate</td>
                                    <td>@item.size</td>
                                    <td>@item.price</td>
                                    <td>@item.publisher</td>
                                    <td>@item.date</td>
                                    <td>@item.no_dow</td>
                                    <td>
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown">
                                                <a href="#"><img src="~/img/dots.png" /></a>
                                                <ul>
                                                    <li>@Html.ActionLink("Download Notes", "AdminDownloadNote", "Admin", new { @class = "link menulink" })</li>
                                                    <li>@Html.ActionLink("View Details", "NoteDetails", "Notes", new { @class = "link menulink", id = item.title }, null)</li>
                                                    <li><a href='#' class='link menulink' onclick="unpublishenote(@item.id)">Unpublished</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        }
                    </table>

                </div>

            </div>
        </div>

</section>

<script src="~/js/jquery.js"></script>
<link href="~/css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/Bootstrap/bootstrap.js"></script>

<div class="container" style="width:40%;">


    <div class="modal fade" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content" id="myModalBodyDiv2">


            </div>

        </div>

    </div>

    <input type="hidden" id="hiddenEmployeeId" />


</div>

<script>

    var unpublishenote = function (title) {

        var url = "/Admin/unpublishenote?title=" + title;

        $("#myModalBodyDiv2").load(url, function () {
            $("#myModal2").modal("show");

        })

    }
</script>