@model IEnumerable<EmailConfirm.Download>

@{
    ViewBag.Title = "AdminPublishNote";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/AdminNav.cshtml";
    WebGrid webGrid = new WebGrid(source: Model);
}

<section id="dashboard">
    <div class="heading-bar container">
        <div class="row">
            <div class="col-md-12 col-sm-4 col-xs-12">
                <h3 class="row">Download Notes</h3>
            </div>
            <div class="col-md-12 col-sm-6 col-xs-12">
                @using (Html.BeginForm("AdminDownloadNote", "Admin", FormMethod.Get, new { @class = "form1 row" }))
                {
                    <div class="form-group col-md-2">
                        @Html.Label("Notes", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("list", new SelectList(ViewBag.list1, "Text", "Text", ViewBag.list1), "select", new { onchange = "form.submit();", @class = "form-select" })
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("Seller", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("ls1", new SelectList(ViewBag.list2, "Text", "Text", ViewBag.list2), "select", new { onchange = "form.submit();", @class = "form-select" })
                        </div>
                    </div>
                    <div class="form-group searchinput col-md-8">
                        @Html.Label("Buyer", htmlAttributes: new { @class = "col-md-12" })
                        <div class="col-md-12">
                            @Html.DropDownList("ls2", new SelectList(ViewBag.list3, "Text", "Text", ViewBag.list3), "select", new { onchange = "form.submit();", @class = "form-select col-md-4" })
                            <div class="col-md-7 col-sm-7 col-xs-7 form-group searchinput">
                                <img src="~/img/search-icon.png" class="form-control-feedback">
                                <input type="search" class="form-control" placeholder="Search" name="searching" />
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-2 form-group searchinput">
                                <button class="btn">SEARCH</button>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="Placeholderhere"></div>

    <div class="sold-table-list">
        <div class="container">
            <div class="row">
                <table class="table col-md-12 col-sm-12 col-xs-12">
                    <tr>
                        <th>SR NO.</th>
                        <th>NOTE TITLE</th>
                        <th>CATEGORY</th>
                        <th>BUYER</th>
                        <th>SELLER</th>
                        <th>SELL TYPE</th>
                        <th>PRICE</th>
                        <th>DOWNLOAD DATE/TIME</th>
                        <th></th>
                    </tr>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="10" style="color:red;text-align:center">Data Not Found</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td class="titile-text">@item.NoteTitle</td>
                                <td>@item.NoteCategory</td>
                                <td>@item.BuyerEmailId</td>
                                <td>@item.Seller</td>
                                <td>Free</td>
                                <td>@item.PurchasedPrice</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#"><img src="~/img/dots.png" /></a>
                                            <ul>
                                                <li>@Html.ActionLink("Download Notes", "download", "Notes", new { id = item.NoteTitle }, null)</li>
                                                <li>@Html.ActionLink("View Details", "NoteDetails", "Notes", new { @class = "link menulink", id = item.NoteTitle }, null)</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="container page" aria-label="Page navigation example">
        <ul class="pagination">
            <li><a class="page-link-img" href="#"><img src="~/img/left-arrow.png"></a></li>
            <li><a class="page-link" href="#">1</a></li>
            <li><a class="page-link" href="#">2</a></li>
            <li><a class="page-link" href="#">3</a></li>
            <li><a class="page-link" href="#">4</a></li>
            <li><a class="page-link" href="#">5</a></li>
            <li><a class="page-link-img" href="#"><img src="~/img/right-arrow.png"></a></li>
        </ul>
    </div>
</section>