@model IEnumerable<EmailConfirm.Models.CountData>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/css_js.cshtml";
    Layout = "~/Views/Shared/AdminNav.cshtml";
    WebGrid webGrid = new WebGrid(source: Model);
}

<section id="dashboard">
    <div class="dashboard-card">
        <div class="heading-bar container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="row">Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-card">
        <div class="container">
            <form class="row">
                <button class="col-md-3 col-sm-4 col-xs-12 text-center" style="background-color: #fff;" formaction=@Url.Action("NoteUnderReview","Admin")>
                    <h2>@ViewBag.notes</h2>
                    <p>Number of Notes in Review for Publish</p>
                </button>
                <button class="col-md-3 col-sm-4 col-xs-12 text-center" style="background-color: #fff;" formaction=@Url.Action("AdminDownloadNote","Admin")>
                    <h2>@ViewBag.download</h2>
                    <p>Number of New Notes Downloades</p>
                </button>
                <button class="col-md-3 col-sm-4 col-xs-12 text-center" style="background-color: #fff;" formaction=@Url.Action("Members","Admin")>
                    <h2>@ViewBag.mem</h2>
                    <p>Number of New registration</p>
                </button>
            </form>
        </div>
    </div>

</section>

<section id="publish-notes">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-12">
                <h3 class="row">Published Notes</h3>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Get, new { @class = "form1 row" }))
                {
                    <div class="col-md-7 col-sm-7 col-xs-7 form-group searchinput">
                        <img src="~/img/search-icon.png" class="form-control-feedback">
                        <input type="search" class="form-control" placeholder="Search" name="searching" />
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-2">
                        <button class="btn">SEARCH</button>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        @Html.DropDownList("list", new SelectList(ViewBag.list, "Text", "Text", ViewBag.list), "select", new { onchange = "form.submit();", @class = "form-select" })
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="sold-table-list">
        <div class="container">
            <div class="row">
                <table class="table col-md-12 col-sm-12 col-xs-12">
                    <tr>
                        <th>SR NO.</th>
                        <th>TITLE</th>
                        <th>CATEGORY</th>
                        <th>ATTACHMENT SIZE</th>
                        <th>PRICE</th>
                        <th>PUBLISHER</th>
                        <th>PUBLISHED DATE</th>
                        <th>NUMBER OF DOWNLOADS</th>
                        <th></th>
                    </tr>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="10" style="color:red;text-align:center">Data Not Found</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td class="titile-text">@item.title</td>
                                <td>@item.cate</td>
                                <td>@item.size</td>
                                <td>@item.price</td>
                                <td>@item.publisher</td>
                                <td>@item.date</td>
                                <td>@item.no_dow</td>
                                <td>
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#"><img src="~/img/dots.png" /></a>
                                            <ul>
                                                <li>@Html.ActionLink("Download Notes", "AdminDownloadNote", "Admin", new { @class = "link menulink" })</li>
                                                <li>@Html.ActionLink("View Details", "NoteDetails", "Notes", new { @class = "link menulink", id = item.title }, null)</li>
                                                <li><a href='#' class='link menulink' onclick="unpublishenote(@item.id)">Unpublished</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                </table>

            </div>

        </div>
    </div>

</section>

